@keyframes showFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hideToBottom {
  0% {
    transform: translateY(0);
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.show_top {
  animation-name: showFromTop;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-duration: 0.8s;
}

.hide_bottom {
  animation-name: hideToBottom;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-duration: 0.8s;
}